<!doctype html>
<div id="wrapper-div">
  <div id="header-div">
    <h1>Change Heroes</h1>
  </div>
  <div id="left-div">
    <h2>All Contacts</h2>
    <p>This is the left-div</p>
    Search: <input ng-model="query"></input>
    <div ng-repeat="contact in contacts | filter:query">
      <span>{{contact.lastname}}</span>, <span>{{contact.firstname}}</span>
    </div>
  </div>
  <div id="right-div">
    <p>This is the right-div</p>
    <h2>
      <span id="main-last-name">H</span>,<span id="main-first-name">Jeff</span>
    </h2>
    <table>
      <tbody>
        <tr>
          <td>Phone</td>
          <td>604-123-4567</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>jeff@edvisor.io</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>1234 Edvisor Road</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
